@charset "UTF-8";
/* Color scheme for KIT */
/* 
  Base (light blue from KI icon): #2595cb;
  Dark blue: #0d75bb; 
  lighter blue: #279ED8:
  Turquoise: #1dd8af;
*/
$dark-blue: #0d75bb; 
$lighter-blue: #279ED8;
$turquoise: #40E0D0;
$dark-grey: #333333;
$light-grey: #eeeeee;

#container {
	max-width: 400px;
	background-color: light-grey;
	font-size: xx-large;
}
#container #header {
	width: inherit;
	text-align: center;
	color: dark-blue;
}
#container #bodytext {
	width: inherit;
	text-align: center;
	font-size: 24px;
}
#container #bodytext p {
	padding-top: 2px;
}
#container #table {
	font-weight: bold;
	font-size: 24px;
}
#container #footer {
	text-align: center;
	color: #ff9f9f;
}
